__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.envs/
conda-meta/
.ipynb_checkpoints/
data/raw/*
!data/raw/.keep
alignments/*
features/*
models/*checkpoint*
results/*
!data/refs/*
.DS_Store
models_noq/
models_noq_tuned/ # if you also have this
